language: ruby
before_script:
  - sh -e /etc/init.d/xvfb start
  - export DISPLAY=:99.0
  - bundle exec rake test_app
env:
  - COVERAGE=true
script:
  - bundle exec rake
notifications:
  email:
    - hi@futhr.io
    - support@hydrogarden.se
  irc:
    use_notice: true
    skip_join: true
    channels:
      - "irc.freenode.org#futhr"
rvm:
  - 1.9.3
  - 2.0.0
branches:
  only:
    - master
    - 2-0-stable
